<div class="main-content" [hidden]="!permission.isView">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-start">

              <h4 class="subHeaderTitle text-info font-weight-bold">USER SUMARY</h4>
              <div>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon class="text-info font-weight-bold mb-2">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button [disabled]="!permission.isAdd" mat-menu-item (click)="onClick_New()">
                    <mat-icon class="text-info">add</mat-icon>
                    <span class="text-info">New</span>
                  </button>
                </mat-menu>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 mrtb-0 pltb-0">
                <mat-form-field class="fullWidth">
                  <mat-icon class="text-info font-weight-normal" matPrefix>search</mat-icon>
                  <mat-label class="text-info font-weight-normal">Search</mat-label>
                  <input matInput type="text" name="criterial" (keyup)="applyFilter($event.target.value)"
                    [(ngModel)]="criterial">
                  <button mat-button *ngIf="criterial" matSuffix mat-icon-button aria-label="Clear"
                    (click)="criterial=''">
                    <mat-icon class="text-danger font-weight-normal" (click)="onClick_RemoveSearch()">clear</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div class="col-md-10">
                <mat-paginator [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                  (page)="paginatorEvent($event)">
                </mat-paginator>
              </div>
            </div>
            <div class="tbl-container table-responsive">
              <table mat-table #tblUser [(dataSource)]="dataSourceUser">

                <!-- Position Column -->
                <ng-container matColumnDef="ID">
                  <th mat-header-cell class="text-light" *matHeaderCellDef> ID </th>
                  <td mat-cell matRipple *matCellDef="let element"> {{element.ID}} </td>
                </ng-container>


                <!-- Weight Column -->
                <ng-container matColumnDef="Name">
                  <th mat-header-cell class="text-light" *matHeaderCellDef> Name </th>
                  <td mat-cell matRipple *matCellDef="let element"> {{element.lastName + ' ' +element.firstName}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="Username">
                  <th mat-header-cell class="text-light" *matHeaderCellDef> Username </th>
                  <td mat-cell matRipple *matCellDef="let element"> {{element.userName}} </td>
                </ng-container>

                <ng-container matColumnDef="Telephone1">
                  <th mat-header-cell class="text-light" *matHeaderCellDef> Telephone [1] </th>
                  <td mat-cell matRipple *matCellDef="let element"> {{element.telephone1}} </td>
                </ng-container>

                <ng-container matColumnDef="Telephone2">
                  <th mat-header-cell class="text-light" *matHeaderCellDef> telephone [2] </th>
                  <td mat-cell matRipple *matCellDef="let element"> {{element.telephone2}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell class="text-light" *matHeaderCellDef> action </th>
                  <td mat-cell *matCellDef="let element">
                    <!-- <mat-icon style="cursor: pointer;" [matMenuTriggerFor]="menu">more_vert</mat-icon> -->
                    <!-- <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onEdit(element)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="onRemove(element)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu> -->
                    <!-- <button mat-raised-button type="button" (click)="onEdit(element)" class="btn btn-success btn-link">
            <i class="material-icons" >edit</i>
         </button> -->
                    <div class="d-flex justify-content-center">
                      <!-- <button mat-raised-button type="button" (click)="onClick_edit(element)"  class="btn btn-success btn-link p-1 m-0">
                 <i class="material-icons" >edit</i>
             </button>
             <button mat-raised-button type="button" (click)="onClick_remove(element)"  class="btn btn-danger btn-link p-0 m-0">
               <i class="material-icons" >delete</i>
            </button> -->
                      <button mat-raised-button type="button" (click)="onClick_edit(element)" *ngIf="permission!=null"
                        [hidden]="!permission.isUpdate" class="btn btn-success btn-link p-1 m-0">
                        <i class="material-icons">edit</i>
                      </button>
                      <button mat-raised-button type="button" (click)="onClick_remove(element)" *ngIf="permission!=null"
                        [hidden]="!permission.isDelete" class="btn btn-danger btn-link p-0 m-0">
                        <i class="material-icons">delete</i>
                      </button>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>