.customerDetailForm {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  

  .fullWidth {
    width: 100%;
  }


  .group-reply {
    box-sizing: border-box;
    display: flex;
    padding: 0 !important;
  }
  
 
  
  .btn{
   height: 34px;
   margin-top: auto;
   background-color: #0BC6DD;
   color: #FFF;
  }

  .mat-icon {
    color: #0BC6DD;
    font-size: 23px;
  }